<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women Safety</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />
    <style>
        body { margin:0; padding:0; }
    </style>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div id="heading">Women Safety App</div>
    <div id="description">This is a Woman safety app that that recognises a <b>WOMAN'S CRY FOR HELP</b> and quickly aids them by contacting necessary officials.
        The location of the person is given below. 
    </div>
    <div id='results'></div>
    <%if(person){%>
    <div id='dest'>
        Destination : 
        <div>Latitutde : <span id='personLat'><%=person.latitude%></span></div>
        <div>Longitude : <span id='personLong'><%=person.longitude%></span></div>
    </div>
    <%}%>
    <div id='link'>Click  <a id='gmapsurl'>HERE</a> to open location in google maps</div>
    <div id="map" style="width:600px;height:400px"></div>
    <script src="/trackresult.js"></script>
</body>
</html>